<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <SaM_Placeworker_OnSupport>Must be placed on a wall or rock.</SaM_Placeworker_OnSupport>
  <SaM_Placeworker_Walkable>Must be facing a walkable tile.</SaM_Placeworker_Walkable>
  <SaM_Placeworker_Existing>Identical building already exists.</SaM_Placeworker_Existing>
  <SaM_Settings_modVersion_label>Installed mod-version: {0}</SaM_Settings_modVersion_label>
  <SaM_Settings_category>Signs and Memorials</SaM_Settings_category>
  <SaM_Settings_editOnBuild_label>Auto-open edit</SaM_Settings_editOnBuild_label>
  <SaM_Settings_editOnBuild_description>Opens the edit tab when a sign/memorial has been built. Default (no)</SaM_Settings_editOnBuild_description>
  <SaM_Settings_pauseOnEdit_label>Pause game on edit</SaM_Settings_pauseOnEdit_label>
  <SaM_Settings_pauseOnEdit_description>Toggles the game paused (if not already) when editing a sign. Default (no)</SaM_Settings_pauseOnEdit_description>
</LanguageData>
